<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.expressway.ftp.client.mapper.AnalyticalMapper">
    <resultMap id="analyticalMap" type="EtcModel">
        <id property="carImage" column="car_image" />
        <result property="exitDate" column="exit_date"/>
    </resultMap>

	<select id="getRecords" resultMap="analyticalMap" parameterType="String">
	    SELECT car_image, exit_date
	    FROM   st_analytical_tbl
        <choose>
           <when test="param1 != null and param2 != null">
               <!-- 带有参数的方法调用是由前台触发的，它的指令等级最高。将强制读取条件内的全部数据。 -->
               WHERE #{param2} >= exit_date AND exit_date >= #{param1}
           </when>
           <otherwise>
                <!-- 一条无图的记录，最多轮询5次 -->
                <![CDATA[WHERE scaned < ${maxLoop} AND image_loaded = '0']]> 
            </otherwise>
         </choose>
         <!-- 大结果集会造成Java内存溢出，因此设置每个表单次只读取10000行记录 -->
         <![CDATA[AND rownum < ${maxRecords}]]> 
	</select>
</mapper>