<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper的配置信息 -->
<mapper namespace="com.expressway.ftp.client.mapper.ChangecardMapper">
    <resultMap id="resMap" type="MtcModel">
        <id property="recordNo" column="record_no" />
        <result property="admId" column="adm_id"/>
        <result property="tagid" column="tagid"/>
        <result property="date" column="exit_date"/>
        <result property="code" column="exit_code"/>
    </resultMap>

	<select id="getRecords" resultMap="resMap" parameterType="String">
	    SELECT record_no, adm_id, tagid, exit_date, exit_code
	    FROM   freeway_changecard
        <choose>
           <when test="param1 != null and param2 != null">
               WHERE  #{param2} >= exit_date AND exit_date >= #{param1}
           </when>
           <otherwise>
               <![CDATA[WHERE ((tagid < ${maxLoop} AND adm_id != '1') OR tagid is null)]]> 
            </otherwise>
         </choose>
         <![CDATA[AND rownum < ${maxRecords}]]> 
	</select>
</mapper>